# ===== LOCAL INFERENCE =====
# OLLAMA
OLLAMA_API_KEY=ollama
OLLAMA_URL=http://localhost:11434/v1

# LMSTUDIO
LMSTUDIO_API_KEY=ollama
LMSTUDIO_URL=http://localhost:1234/v1

# ===== REMOTE INFERENCE =====
# GROQ
GROQ_API_KEY=your_groq_api_key_here

# TOGETHER AI
TOGETHER_API_KEY=your_together_api_key_here

# OPENROUTER
# KEY_1
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_URL=https://openrouter.ai/api/v1

# MISTRAL AI
MISTRAL_API_KEY=your_mistral_api_key_here

# HUGGINGFACE
HUGGINGFACE_API_KEY=your_huggingface_api_key_here

# LLAMA CLOUD
LLAMA_CLOUD_API_KEY=your_llama_cloud_api_key_here

# ===== SEARCH =====
# TAVILY
TAVILY_API_KEY=your_tavily_api_key_here

# GOOGLE SERPER
SERPER_API_KEY=your_serper_api_key_here

# EXA
EXA_API_KEY=your_exa_api_key_here

# ===== OBSERVABILITY =====
# LANGFUSE
LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_HOST=https://cloud.langfuse.com

# LANGSMITH
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=RAG-Tutorials

# ===== VECTOR STORE =====
# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your_qdrant_api_key_here